@model IEnumerable<Proyecto.Models.Equipos>

@{
    ViewData["Title"] = "EquiposIndex";
}

<h2><i class="fas fa-tools text-primary"></i> Equipos</h2>

<p>
    <a asp-action="Create" class="btn btn-create">
        <i class="fas fa-plus-circle"></i> Nuevo Equipo
    </a>
</p>

<table class="table table-rounded">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.FechaMantenimientoPreventivo)</th>
            <th>@Html.DisplayNameFor(model => model.FechaCalibracion)</th>
            <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
            <th>@Html.DisplayNameFor(model => model.Ubicacion)</th>
            <th>@Html.DisplayNameFor(model => model.Departamentos)</th>
            <th>@Html.DisplayNameFor(model => model.EstadoEquipos)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaMantenimientoPreventivo)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaCalibracion)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.Ubicacion)</td>
                <td>@Html.DisplayFor(modelItem => item.Departamentos.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.EstadoEquipos.Id)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="action-btn">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="action-btn">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="action-btn">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
