@model IEnumerable<Proyecto.Models.EstadoEquipos>

@{
    ViewData["Title"] = "EstadoEquiposIndex";
}

<h2><i class="fas fa-cogs text-primary"></i> Estados de Equipos</h2>

<p>
    <a asp-action="Create" class="btn btn-create">
        <i class="fas fa-plus-circle"></i> Nuevo Estado
    </a>
</p>

<table class="table table-rounded">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td class="text-center">
                    <div class="d-flex justify-content-center gap-2">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm rounded-pill">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm rounded-pill">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm rounded-pill">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
