@model IEnumerable<Proyecto.Models.Suministros>

@{
    ViewData["Title"] = "Suministros";
}

<h2><i class="fas fa-dolly-flatbed text-primary"></i> Suministros</h2>

<p>
    <a asp-action="Create" class="btn btn-create">
        <i class="fas fa-plus-circle"></i> Nuevo Suministro
    </a>
</p>

<table class="table table-rounded">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="action-btn">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="action-btn">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="action-btn">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
